@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-style: normal;
}
.title-container {
  text-align: center;
  color: #817D92;
  margin-bottom: 16px;
}
.title-container h1 {
  font-size: 16px;
  font-weight: bold;
}

.pass-generator-container {
  max-width: 343px;
  height: 503px;
}
.pass-generator-container .password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
.pass-generator-container .password input {
  background-color: #24232C;
  outline: none;
  border: none;
  height: 64px;
  width: 100%;
  padding: 16px;
  font-size: 28px;
  color: #E6E5EA;
  font-family: "JetBrains Mono";
}
.pass-generator-container .password input::placeholder {
  font-size: 28px;
  font-weight: 500;
  color: #817D92;
}
.pass-generator-container .password .copied-txt {
  text-transform: uppercase;
  color: #A4FFAF;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 48px;
  display: none;
}
.pass-generator-container .password svg {
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  width: 21px;
  height: 24px;
  color: #A4FFAF;
  right: 16px;
  transition: color 0.3 ease;
}
.pass-generator-container .password svg:hover {
  color: #E6E5EA;
}
.pass-generator-container form {
  display: flex;
  flex-direction: column;
  background-color: #24232C;
  padding: 16px;
}
.pass-generator-container form .password-length-container {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pass-generator-container form .password-length-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.pass-generator-container form .password-length-container div label {
  font-size: 16px;
  font-weight: bold;
}
.pass-generator-container form .password-length-container div p {
  color: #A4FFAF;
  font-size: 22px;
  font-weight: bolder;
}
.pass-generator-container form .password-length-container input {
  -webkit-appearance: none;
  background: #18171F;
  outline: none;
  height: 8px;
  padding: 0;
}
.pass-generator-container form .password-length-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #E6E5EA;
  border-radius: 50%;
  cursor: pointer;
}
.pass-generator-container form .password-length-container input::-webkit-slider-thumb:hover {
  background-color: #18171F;
  border: 1px solid #A4FFAF;
}
.pass-generator-container form .password-characteristics-container {
  margin-bottom: 16px;
}
.pass-generator-container form .password-characteristics-container div {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.pass-generator-container form .password-characteristics-container div label {
  font-size: 14px;
  font-weight: 600;
}
.pass-generator-container form .password-characteristics-container div input[type=checkbox] {
  -webkit-appearance: none; /* para Safari y Chrome */
  -moz-appearance: none; /* para Firefox */
  appearance: none;
  border: 2px solid #E6E5EA;
  background: inherit;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.pass-generator-container form .password-characteristics-container div input[type=checkbox]:checked {
  background-color: #A4FFAF;
  border-color: #A4FFAF;
  background-image: url("../../assets/images/icon-check.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.pass-generator-container form .password-strength-container {
  background-color: #18171F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 16px;
}
.pass-generator-container form .password-strength-container h4 {
  color: #817D92;
  text-transform: uppercase;
  font-size: 16px;
}
.pass-generator-container form .password-strength-container div {
  display: flex;
  align-items: center;
}
.pass-generator-container form .password-strength-container div p {
  margin-right: 16px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 700;
}
.pass-generator-container form .password-strength-container div .strength-boxes {
  display: flex;
  align-items: center;
  gap: 7px;
}
.pass-generator-container form .password-strength-container div .strength-boxes div {
  border: 2px solid #E6E5EA;
  width: 10px;
  height: 28px;
}
.pass-generator-container form .generate-btn {
  position: relative;
  width: 100%;
  display: flex;
}
.pass-generator-container form .generate-btn button {
  position: relative;
  background-color: #A4FFAF;
  height: 56px;
  width: 100%;
  color: #18171F;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "JetBrains Mono";
  border: none;
  cursor: pointer;
}
.pass-generator-container form .generate-btn button:hover {
  background-color: #24232C;
  border: 1px solid #A4FFAF;
  color: #A4FFAF;
  transition: color 0.5 ease;
}
.pass-generator-container form .generate-btn button:hover svg {
  color: #A4FFAF;
}
.pass-generator-container form .generate-btn button svg {
  pointer-events: all;
  color: #18171F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #18171F;
  color: #E6E5EA;
  font-family: "JetBrains Mono";
}

/*# sourceMappingURL=style.css.map */
